ConnectionStrings__DefaultConnection=Server=127.0.0.1;Port=3306;Database=tesis_db;Uid=dev_user;Pwd=REEMPLAZAR;

Jwt__Key=REEMPLAZAR_POR_UNA_CLAVE_LARGA_Y_SEGURA
Jwt__Issuer=ControlFichajes.API
Jwt__Audience=ControlFichajes.Frontend
Jwt__ExpireMinutes=60

Cors__AllowedOrigins__0=http://localhost:5173